<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IResourceService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8092/ResourceService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IResourceService"
                contract="ResourceService.IResourceService" name="NetTcpBinding_IResourceService">
                <identity>
                    <userPrincipalName value="roadrunner2\edi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>